body {
    background-color: rgb(1, 1, 45);
    

}

.top {
    color:white;
    font-size:20px ;
    position: absolute;
    left: 120px;
    top: 30px;
    height: 80px;
    width: 80px;
    border-radius: 10%;
}



.Student {
    color:purple;
    position: absolute;
    top: 27%;
    left: 60px;
    font-size: 23px;
}

.Name {
    color:white;
    position: absolute;
    top: 30%;
    left: 60px;
    font-size: 26px;
}

.row {
    position: absolute;
    top: 45%;
    left:60px;
    color: white;
}

.fp {
    position: absolute;
    top: 54%;
    left: 60px;
    color: white;
    max-width:  500px;
    font-size:17px ;
}


ul li a{
    display: inline-block;
    color: white;
    padding: 20px;
    font-size: 23px;
    text-decoration: none;
    
}

 
.li1 {
    position: absolute;
    left:700px;
    
}

.li2 {
    position: absolute;
    left:800px;
}
.li3 {
    position: absolute;
    left:900px;
}
.li4 {
    position: absolute;
    left:1022px;
}

img {
    position:absolute;
    left: 400px;
    top: 23%;
    height: 400px;
    width: 400px;
    border-radius:50% ;
}

.hob {
    position: absolute;
    top: 25%;
    left: 110px;
    color: white;
    font-size: 25px;
    max-width: 250px;
}

.hob p {
    font-size: 26px;
}


.sk {
    position: absolute;
    top: 25%;
    left: 920px;
    color: white;
    font-size: 25px;
    max-width: 280px;
}

.sk ul li {
    font-size: 30px;
}